<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.1/css/all.css" crossorigin="anonymous">
    <link rel="stylesheet" href="styles/styles-contact.css">
    <title>Contact Page</title>
</head>

<body>

    <header>
        <div class = "cont">
        <h1>PLANT SERVICES QUOTE SYSTEM CONTACT</h1>

        <div class  = "block">
            <a href="/login">Login Here</a>
        </div>

        </div>
    </header>
    
    <h3 class="contact-title"></h3>

    <div class="contact-box">
        <div class="accounttype">
        <h3>Contact Us Here</h3> <hr>
        </div>
        <form class="contact-form">

            <label id="icon" ><i class="fas fa-user-alt"></i></i> </label>
            <input type="text" id="name" class="input-field" placeholder="Your Name" required>

            <label id="icon" ><i class="fas fa-envelope-open-text"></i></label>
            <input type="email" id="email" class="input-field" placeholder="Your Email" required>

            <label id="icon" ><i class="far fa-file"></i> </label>
            <input type="text" id="subject" class="input-field" placeholder="Subject" required>
            
            <textarea type="text" id="message" class="input-field textarea-field" placeholder="Your message" maxlength="500" required></textarea>

            <button type="submit" class="contact-submit" value="Send Message">Send Message</button>
        </form>
    </div>
 
    <script src="/js/contact.js"></script>

    <footer>    	
        <small> &copy; GROUP 3B PLANT SERVICES QUOTE SYSTEM. CSCI 467 </small> 
    </footer> 

</body>

</html>